.DS_Store
.vscode/
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj
Package.resolved
PWManager.app/
*.pwm
*.pwmbackup
ios/*.xcodeproj/
