<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.pwmanager.app</string>
    <key>CFBundleName</key>
    <string>PWManager</string>
    <key>CFBundleDisplayName</key>
    <string>PWManager</string>
    <key>CFBundleExecutable</key>
    <string>PWManagerApp</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 PWManager. All rights reserved.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Unlock your vault with Touch ID.</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
</dict>
</plist>
